<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <meta content="Personality Analysis and Profiling" name="description" />
    <meta content="Temp" name="Brad" />
</head>

<body>
    <form method="POST" action="/api/menu" enctype="multipart/form-data">
        <input type="text" name="name" id="name" placeholder="Name" /><br>
        <input type="text" name="price" id="name" placeholder="Price" /><br>
        <select name="type">
            <option value="1">Appetizer</option>
            <option value="2">Main Course</option>
            <option value="3">Dessert</option>
        </select><br>
        <input type="file" name="userfile" /><br>
        <input type="submit" />
    </form>
</body>

</html>